<!DOCTYPE html>
<html>
<head>
    <title>Perfect day forecast</title>
</head>
<body>
    <h1>Perfect day forecast</h1>
    <form action="/echo_user_input" method="POST">
        <label for="location">Location:</label>
        <select name="location">
            {% for loc in locations %}
                <option value="{{ loc }}">{{ loc }}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        <label for="start_date">Start date:</label>
        <input type="date" name="start_date">
        <br>
        <br>

        <label for="end_date">End date:</label>
        <input type="date" name="end_date">
        <br>
        <br>

        <fieldset>
            <legend>Preferable weather condition</legend>
            {% for key, value in weather_conditions.items() %}
                <label>
                    <input type="radio" name="weather_condition" value="{{ key }}">
                    {{ value }}
                </label>
                <br>
            {% endfor %}
        </fieldset>
        
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>